// COLORS
$color-site-back-from: #fff;
$color-site-back-to : #fff;
$color-drawer-back-from: #bbb;
$color-drawer-back-to: #fff;

$color-primary: #162432;
$color-primary-light: 263a4f;
$color-primary-dark: #222F3C;

$color-secondary: #FF6358;
$color-secondary-light: f77871;
$color-secondary-dark: #EB5B51;

$color-info: #3E80ED;
$color-success: #5EC232;
$color-warning: #FDCE3E;
$color-danger: #D51923;

$color-grey-light-1: #F6F6F6;
$color-grey-light-2: #E8ECEF;

$color-grey-dark-1: #656565;
$color-grey-dark-2: #999;

// FONTS
$color-typo-dark: #272727;
$color-typo-normal: #162432;
$color-typo-light: #B6BDCA;

$color-white: #fff;
$color-black: #000;

// SHADOWS
$shadow-input: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
$shadow-light: 0 .4rem .8rem rgba(0, 0, 0, .2);
$shadow-dark: 0 1rem 4rem rgba(0, 0, 0, .2);

// Borders
$border-light: 1px solid $color-grey-light-2;