
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// FONT-SIZE
$default-font-size: 1.6rem;

// BORDER
$border-radius-small: .3rem;
$border-radius-medium: .5rem;

// GRID
$gutter-vertical-small: 1.5rem;
$gutter-horizontal-small: 1rem;

// FORM
$gutter-grid: 2rem;