.listview-column2 {
	padding: $gutter-vertical-small 0;
	display: grid;
	grid-template-rows: max-content max-content max-content;
	grid-row-gap: $gutter-vertical-small;

	&__columns {
		display: grid;
		grid-template-columns: 30% 70%;
		grid-column-gap: $gutter-vertical-small;

		@include respond(tab-land) {
			grid-template-columns: 1fr;
			grid-row-gap: $gutter-vertical-small;
		}
	}
}
