.k-textbox {
	width: 100%;
	font-size: $default-font-size;
}

.k-date-picker .k-icon {
	margin: -8px -8px 0;
}

.k-numeric-textbox .k-icon {
	margin: -8px 8px 0;
}

textarea.k-textbox {
	padding: 1rem;
}

.k-dropdown,
.k-dropdowntree,
.k-numerictextbox {
	width: 100%;
	font-size: $default-font-size;
}

.k-multiselect {
	font-size: $default-font-size;
}
