.navigation-drawer {
	background-image: linear-gradient(to bottom right,$color-drawer-back-from, $color-drawer-back-to);
	padding: 2rem;
	font-size: 1.6rem;
	display: grid;
	grid-template-rows: max-content max-content;
	grid-row-gap: 3rem;

	&__info {
		display: grid;
		grid-template-rows: max-content max-content;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		grid-row-gap: 2rem;
	}

	&__close-btn {
		cursor: pointer;
		font-size: 2rem;
		justify-self: end;
	}

	&__lang-holder {
		justify-self: end;
	}
}
