.navigation {
	grid-row: 2 / 3;
	grid-column: full-start / full-end;

	@include respond(tab-port) {
		grid-row: 1 / 2;
		grid-column: center-start / center-end;
	}

	&__navbar {
		display: flex;
		justify-content: center;

		& #horizontal-menu {
			height: 6rem;
			border: none;
			background-color: inherit !important;
			background-image: none;
			font-size: 1.7rem;


			& .k-item {
				padding: 11px 0;
				border: none;
				background-color: inherit;
			}

			& .k-state-hover,
			& .k-state-active,
			& .k-state-border-down,
			& .k-state-border-right,
			& .k-state-hover > .k-link,
			& .k-state-border-down > .k-link {
				background-color: #d6d6d6 !important;
				background-image: none !important;
			}
		}

		@include respond(tab-port) {
			display: none;
		}
	}

	&__drawer {
		display: none;

		@include respond(tab-port) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;
		}
	}

	&__drawer-btn {
		font-size: 1.7rem;
		cursor: pointer;
	}
}
