.table-list {
	width: 100%;
	border-collapse: collapse;

	& tr:nth-child(even) {
		background-color: $color-white;
	}

	& tr:nth-child(odd) {
		background-color: $color-grey-light-2;
	}

	& tr.bold-row {
		background-color: $color-secondary-light;
		color: $color-white;
	}

	& th {
		padding: 1rem 0.5rem;
		background-color: $color-secondary;
		color: $color-white;
		font-size: 1.6rem;
	}

	& td {
		padding: 0.8rem 0.5rem;
		font-size: 1.2rem;
	}
}
